* {
    box-sizing: border-box;

}

.col-md-8 .offset-md-4 button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.btn box-icon {
    padding: 0 0 0 4px;
}

