* {
    box-sizing: border-box;

}

.col-md-8 .offset-md-4 button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.btn box-icon {
    padding: 0 0 0 4px;
}

/*foto de perfil do usuário logado*/

li #image {
    padding: 0;
    width: 44px;
    height: 40px;
    border-radius: 50%;
}

ul .nav-item.dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}



